<div class="foot">
    
      <p style="padding-top:1em;"class="text-muted text-center">&copy; YelpCamp 2020 <a     href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
	
</div>

    </body>
</html>
